$black: #212121;
$white: #fff;
$gray: #BDBDBD;
$gray-light: #D6D6D6;
$gray-lighter: #EEEEEE;
$gray-dark: #757575;

$primary: #90CAF9;
$primary-dark: #42A5F5;
$primary-darker: #1E88E5;
$primary-light: #BBDEFB;
$primary-lighter: #E3F2FD;

$colors: (
  black: #212121,
  white: #fff,
  gray: #BDBDBD,
  gray-light: #E0E0E0,
  gray-lighter: #EEEEEE,
  gray-dark: #757575,
  primary: #90CAF9,
  primary-dark: #42A5F5,
  primary-darker: #1E88E5,
  primary-light: #BBDEFB,
  primary-lighter: #E3F2FD
);
