.vertical-middle {
  display: table;

  .vertical-middle__inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.full {
  &__width {
    width: 100%;
  }

  &__height {
    height: 100%;
  }
}

.overflow-hidden {
  overflow: hidden;
}
